  <div class="row">
    <div class="well col-md-6">
      <%= render partial: "categories/category", collection: post.categories %>
      <p>
        <h4><%= post.title %></h4>
      </p>
      <p>
        <%= post.content %>
      </p>
      <br>
      <span>
        <%= link_to "show this post", post_path(post) %>
      </span>
    </div>
  </div>